:root {
  --chat-header-brightness: 50%;
  --chat-header-saturation: 0.09;
  --chat-header-hue: 200deg;

  --message-header-brightness: 50%;
  --message-section-brightness: 90%;
  
  --message-header-saturation: 0.5;
  --message-section-saturation: 0.04;

  --user-message-hue: 270deg;
  --assistant-message-hue: 170deg;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  min-width: 400px;
  height: 100%;

  & > header {
    padding: 0.5rem;
    color: #fff;
    background-color: oklch(var(--chat-header-brightness) var(--chat-header-saturation) var(--chat-header-hue));
    border-radius: 0.25rem;

    h2 {
      margin: 0;
    }
  }

  .messages {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    flex: 1 1 auto;

    .message {
      color: #333;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.1rem;

      & > header {
        font-weight: bold;
        font-size: 1rem;
        color: oklch(var(--message-header-brightness) var(--message-header-saturation) var(--user-message-hue));
        padding: 0 0.5rem;
        border-radius: 0.25rem;
      }

      &.assistant > header {
        color: oklch(var(--message-header-brightness) var(--message-header-saturation) var(--assistant-message-hue));
      }

      & > section {
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
        background-color: oklch(var(--message-section-brightness) var(--message-section-saturation) var(--user-message-hue));
        border-radius: 0.25rem;
      }

      &.assistant > section {
        background-color: oklch(var(--message-section-brightness) var(--message-section-saturation) 170);
      }

      & > footer {
        font-size: 0.65rem;
        color: #666;
        padding: 0 0.5rem;
      }
    }
  }

  .message-input {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;

    input {
      flex: 1 1 auto;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      padding: 0.25rem 0.75rem;
      font-size: 1rem;
      color: #333;
      outline: none;
      width: 100%;
    }

    button {
      flex: 0 1 auto;
      background-color: #44C;
    }
  }
}