#root {
  width: 100%;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #EEE;
}

main {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem
}

@media (min-width: 1100px) {
  main {
    flex-direction: row;
  }
}