#root {
  width: 100%;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #EEE;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem
}

.map-container {
  flex: 1 1 60%;
  height: 100%;
}

.leaflet-container {
  height: 100%;
}