#root {
  width: 100%;
  height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
  background-color: #333;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  gap: calc(1rem - 10px);
}

.chat-container {
  flex: 0 1 40%;
  min-width: 400px;
  max-width: 600px;
  height: 100%;
  background-color: green;
}

.map-container {
  flex: 1 1 60%;
  height: 100%;
  background-color: blue;
}

h1 {
  margin: 0
}
