:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Brand colors */
  --brand-brightness: 55%;
  --brand-saturation: 0.125;
  --brand-primary-hue: 260deg;

  --message-header-brightness: 50%;
  --message-section-brightness: 90%;
  
  --message-header-saturation: 0.5;
  --message-section-saturation: 0.04;

  --user-message-hue: 270deg;
  --assistant-message-hue: 170deg;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
  background-color: oklch(var(--brand-brightness) var(--brand-saturation) var(--brand-primary-hue));

  &:hover {
    background-color: oklch(calc(var(--brand-brightness) - 5%) var(--brand-saturation) var(--brand-primary-hue));
  }
  &:active {
    background-color: oklch(calc(var(--brand-brightness) - 10%) var(--brand-saturation) var(--brand-primary-hue));
  }
}
