.map-container {
  flex: 1 1 50%;
  height: 100%;
}

.leaflet-container {
  height: 100%;
}

.leaflet-popup-content {
  overflow-y: visible;
}

.similar-embeddings {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  & > button {
    border: none;
    font-size: 0.75rem;
    padding: 0;
    background: none;
    cursor: pointer;
    text-align: left;
    width: 128px;

    &:hover {
      opacity: 0.8;
    }
  }
}

.selected-embedding {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.embedding-info {
  color: #666;
  list-style: none;
  padding: 0;
  margin: 0;

  & > li {
    margin: 0;
  }
}