.map-container {
  flex: 1 1 50%;
  height: 100%;
}

.leaflet-container {
  height: 100%;
}

.leaflet-popup-content {
  overflow-y: visible;
}

.similar-embeddings {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}